name: sandbox_api

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: sandbox_api_development
    command:
      --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - .:/app
    environment:
      env_file: .env
      TZ: Asia/Tokyo
    depends_on:
      - db
      - redis
    ports:
      - "3000:3000"
    # 初回は bundle install → 以降はそのまま起動
    command: bash -lc "bundle config set path 'vendor/bundle' && bundle install && bin/rails s -b 0.0.0.0"
    stdin_open: true
    tty: true

  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - .:/app
    environment:
      env_file: .env
    depends_on:
      - db
      - redis
    command: bash -lc "bundle exec sidekiq -C config/sidekiq.yml"

volumes:
  mysqldata:
